@model LIBRARYMANAGEMENTSYSTEM_MITRASO.Models.Penalty

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Penalty</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PenaltyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PenaltyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PenaltyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PenaltyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSettled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSettled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowingRecordsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowingRecordsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasPenalty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasPenalty)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PenaltyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
