@model IEnumerable<LIBRARYMANAGEMENTSYSTEM_MITRASO.Models.Penalty>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PenaltyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PenaltyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSettled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowingRecordsDetails)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSettled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowingRecordsDetails.BorrowingRecordsDetailsId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PenaltyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PenaltyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PenaltyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
