@model IEnumerable<LIBRARYMANAGEMENTSYSTEM_MITRASO.Models.BorrowingRecords>

@{
    ViewData["Title"] = "Overdue Books";
}

<h1>Overdue Books</h1>
<p>
    <a class="btn btn-outline-success" asp-area="" asp-controller="BorrowingRecords" asp-action="Index">Borrowing Records</a>
    <a class="btn btn-outline-success" asp-area="" asp-controller="Penalty" asp-action="Index">Penalty</a>
    <a class="btn btn-outline-success" asp-action="Create">Create Penalty</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                Date Borrowed
            </th>
            <th>
                Due Date
            </th>
            <th>
                Return Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Borrower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                Book
            </th>
            <th>
                Has Penalty
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBorrowed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Borrower.FirstName)
                    @Html.DisplayFor(modelItem => item.Borrower.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Books.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasPenalty)
                </td>
            </tr>
        }
    </tbody>
</table>
