@model IEnumerable<LIBRARYMANAGEMENTSYSTEM_MITRASO.Models.BorrowingRecordsDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowingRecords)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Books.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowingRecords.BorrowingRecordsId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BorrowingRecordsDetailsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BorrowingRecordsDetailsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BorrowingRecordsDetailsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
