@model LIBRARYMANAGEMENTSYSTEM_MITRASO.ViewModels.Practice2VM
@{
    ViewData["Title"] = "Index";
}
<div>
    <h2>Model 1 Data</h2>
    @foreach (var item in Model.UserData)
    {
        <p>@item.FirstName</p>
        <p>@item.LastName</p>
        <p>@item.Username</p>
        <!-- Add more properties as needed -->
    }
</div>
<div>
    <h2>Model 2 Data</h2>
    @foreach (var item in Model.BookData)
    {
        <p>@item.Title</p>
        <p>@item.Author</p>
        <!-- Add more properties as needed -->
    }
</div>


<div>
<a asp-action="Index">Back to List</a>
</div>
