@model LIBRARYMANAGEMENTSYSTEM_MITRASO.ViewModels.BorrowingTransactionVM

@{
    ViewData["Title"] = "Create";
}
@* 
<h1>Create</h1>

<h4>Borrower</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Model.BorrowingRecordsDateDateBorrowed" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentIdNo" class="control-label"></label>
                <input asp-for="StudentIdNo" class="form-control" />
                <span asp-validation-for="StudentIdNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course" class="control-label"></label>
                <input asp-for="Course" class="form-control" />
                <span asp-validation-for="Course" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> *@

@* @using (Html.BeginForm("Create", "BorrowingTransactionController", FormMethod.Post))
{
    @Html.EditorFor(model => model.BorrowingRecordsData)
    @Html.EditorFor(model => model.BorrowingRecordsDetailsData)
    @Html.EditorFor(model => model.BorrowerData)
    @Html.EditorFor(model => model.BooksData)

    <input type="submit" value="Save Changes" />
}

<div>
    <a asp-action="Index">Back to List</a>
</div> *@



<h2>Create</h2>

@using (Html.BeginForm("Create", "BorrowingTransaction", FormMethod.Post))
{
    <div>
        <h3>Borrowing Records</h3>
        @Html.Partial("_BorrowingRecordsForm", Model.BorrowingRecordsData)
    </div>

    <div>
        <h3>Borrowing Records Details</h3>
        @Html.Partial("_BorrowingRecordsDetailsForm", Model.BorrowingRecordsDetailsData)
    </div>

    <div>
        <h3>Borrowers</h3>
        @Html.Partial("_BorrowersForm", Model.BorrowerData)
    </div>

    <div>
        <h3>Books</h3>
        @Html.Partial("_BooksForm", Model.BooksData)
    </div>

    <input type="submit" value="Save Changes" />
}


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

